 
#container {
    width: 500px;
    height: 300px; 
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5); 
    margin: 160px auto; 
} 

#container #rp-login-form {
    padding: 20px;
}

#container #rp-login-form input[type=text] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 4px;
  }

  #container #rp-login-form .rp-login-btn {
      width: 100%;
      margin-top: 30px;
      height: 40px;
      background-color: blue;
      color: white;
      cursor: pointer;
  }